<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 設定環境變數 -->
    <bean id="environmentVariablesConfiguration" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
        <property name="algorithm" value="PBEWithMD5AndDES"/>
        <!--        &lt;!&ndash; 方法一：將 key 直接設定在這裡 &ndash;&gt;-->
        <!--        <property name="password" value="CAT" />-->
        <!-- 方法二：將 key 設定在 Server 的環境變數 -->
        <property name="passwordEnvName" value="WEB_PASSWORD"/>
    </bean>
    <bean id="mongoDbProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="spring.data.mongodb.username">${MONGO_USERNAME:}</prop>
                <prop key="spring.data.mongodb.password">${MONGO_PASSWORD:}</prop>
                <prop key="spring.data.mongodb.uri">mongodb+srv://${MONGO_USERNAME}:${MONGO_PASSWORD}@onlinemongo.x5lwpib.mongodb.net/</prop>
                <prop key="spring.data.mongodb.database">cube</prop>
                <!-- 如果需要在其他地方設定 username 和 password，可以使用相應的屬性 -->
            </props>
        </property>
    </bean>

    <!-- 解密配置值設定 -->
    <bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
        <property name="config" ref="environmentVariablesConfiguration"/>
    </bean>

    <!-- Spring Properties 設定 -->
    <bean class="org.jasypt.spring4.properties.EncryptablePropertyPlaceholderConfigurer">
        <constructor-arg ref="configurationEncryptor"/>
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>
</beans>